.navbar {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: #100d28;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;
}
  
.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #625d78;
    transition: color 0.5s;
}

.navbar-logo {
    height: 50px; 
    margin: 0 20px;
}

.btn-nav {
    background-color: #1b1929;
    color: white;
    border: 2px solid transparent;
    margin: 0 20px;
    padding: 10px 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btn-nav:hover {
    background-color: transparent;
    color: white;
    border-color: white;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}